Create DataFrame from csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('weather.csv')
df

          day  temperature  windspeed  event  Unnamed: 4
0  01/01/2017           32          6   Rain         NaN
1  01/02/2017           35          7  Sunny         NaN
2  01/03/2017           28          2   Snow         NaN
3  01/04/2017           24          7   Snow         NaN
4  01/05/2017           32          4   Rain         NaN
5  01/06/2017           31          2  Sunny         NaN

Structure of the DataFrame

Create Dataframe from Dictionary

In [4]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df_dic = pd.DataFrame(weather_data)
df_dic

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 5)

Find Top N  and button N record

In [5]:
df.head(1)

          day  temperature  windspeed event  Unnamed: 4
0  01/01/2017           32          6  Rain         NaN

In [7]:
df.tail(2)

          day  temperature  windspeed  event  Unnamed: 4
4  01/05/2017           32          4   Rain         NaN
5  01/06/2017           31          2  Sunny         NaN

Slicing in Data Frames

In [9]:
df[1:5]

          day  temperature  windspeed  event  Unnamed: 4
1  01/02/2017           35          7  Sunny         NaN
2  01/03/2017           28          2   Snow         NaN
3  01/04/2017           24          7   Snow         NaN
4  01/05/2017           32          4   Rain         NaN

In [10]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event', 'Unnamed: 4'], dtype='object')

In [11]:
df[['day','event']]

          day  event
0  01/01/2017   Rain
1  01/02/2017  Sunny
2  01/03/2017   Snow
3  01/04/2017   Snow
4  01/05/2017   Rain
5  01/06/2017  Sunny

In [12]:
df[df['temperature']<30]

          day  temperature  windspeed event  Unnamed: 4
2  01/03/2017           28          2  Snow         NaN
3  01/04/2017           24          7  Snow         NaN

In [14]:
df['temperature'].max()

35

In [16]:
df['day'][df['temperature']==df['temperature'].max()]

1    01/02/2017
Name: day, dtype: object

In [19]:
round(df['temperature'].std(),2)

3.83