In [ ]:
Administrative checkpoints:
    Welcome to your first Jupyter Notebook
    I will be uploading these class notebooks in the LMS

In [ ]:
# Edit, command, ?, commenting shortcut, DD, A, B in jupyter

# Literal constants
'''
Any number or character or set of characters'
A literal is a value that is expressed as itself. For example, the number 25 or the string "Hello World" in the below cell
are both literals
'''

In [ ]:
25

In [ ]:
'Hello world'

In [ ]:
# How come a strange name like Python? Is it reffering to the reptile?

In [ ]:
#  NUMERIC

# bin(11)
# oct?
# bin?
# hex(11)

In [ ]:
# A=complex(20, 10)
# print(A)

In [ ]:
a='Hello world'

In [ ]:
print(type(True))

In [ ]:
a=24.5
type(a)

In [ ]:
# STRINGS
A, B= 'Welcome', ' to the Python class'
print(A+B)

In [3]:
# Standard Data types
T=(2,3,5,5.6,'Apoorv', 11)
L=[5,6,7.9,8, 'Vishnoi']
S={2,3,5,6,'Delhi'}
D={'Apoorv': [33, 45, 67], 'Vivek': 25}

In [4]:
T1=(2,4,5,6,7)
type(T1)
print(T1[:3])
# Indexing in Python always starts from ZERO

(2, 4, 5)

In [5]:
# TUPLES- Hold data in order, can be Indexed, Immutable, but memory efficient  
T1=(2,4,5,6,7)
a,b=T1[:2]
b

4

In [6]:
tuple(zip(T,L))

((2, 5), (3, 6), (5, 7.9), (5.6, 8), ('Apoorv', 'Vishnoi'))

"Beware of the comma"

In [ ]:
# 10,

In [ ]:
# LISTS-Hold data in order it was added, Mutable
L=[5,6,7.9,8, 'Vishnoi']
print(L)
print(L[2])
L+['29']

In [ ]:
set(L)

In [ ]:
# SETS- Unique, Unordered,  Mutable, Python's implementation of Set Theory from Mathematics
# s1={2,2,3,3,4,5}

In [ ]:
# Sets can created from a tuples and lists
# s=set(L)

In [ ]:
# s.add(42)  # to add single uniqueitem, s.update([]) to add multiple unique items, s.discard(2), s.pop() removes a random item
# print(s)

In [ ]:
# e=set(T)
# print(e)

In [ ]:
# print(s)

In [ ]:
# t={2,2,3,3,3}
# s.intersection(e)
# s.union(e)
s.difference(e)

In [ ]:
e.difference(s)

In [ ]:
# DICTIONARY- Mutable, Key Value pair, Keys should be unique, Dictionaries are indexed by keys
a={'vijay': 'jupyter', 'Karnakar':'jupyter'}
a[ 'Karnakar']

In [ ]:
a,b=5,11
b**a
a=a+b
print(a)
a+=b
print(a)

In [ ]:
T1

IF ELSE CONDITIONS

In [ ]:
if 8>9:
    print(T1)
elif 6>7:
    print(T1[0])
else:
    print('no condition above is True')

In [ ]:
x=24
if x%2==0:
    print('x is even')
elif x%3==0:
    print('x is divisible by 3')
else:
    print('x is odd')

LOOPS

In [ ]:
x=10
while x<20:
    x=x+1
    if x==15:
        continue
    if x==18:
        break
    print(x)

In [ ]:
L=[2,3,4,5,6]
for x in T:
    print(10)

In [ ]:
x=1
while x<20:
    x+=1 
    if x==4 or x==14:
        continue
    print(x)

In [ ]:
x=1
while x<30:
    x+=1 
    if x==4 or x==14:
        continue
    if x ==20:
        break
    print(x)

# Is Python a scripting language? 
'Yes'
'''
A scripting language usually doesn’t need to be compiled to run as you write some meaningful code.Microsoft excel may be built
using C++ language but it exposes a scripting language called Visual Basic for Applications, for users to define their custom 
functionality. Similarly web browsers may be built with C++/Java language but they expose a scripting language called javascript. 
A scripting language generally sits behind some programming language. Scripting languages generally have less access to the 
computer’s native abilities since they only run on a subset of the programming language. Scripting languages may have less 
access and are slower compared to programming languages, but they can be very powerful programming tools.
'''